.ghostex-chat-answer-editor .ghostex-chat-composer-lexical {
  min-height: 24px;
  margin-right: 0;
  font-size: inherit;
}

.ghostex-chat-answer-editor .ghostex-chat-composer-lexical-content {
  min-height: 24px;
  max-height: 100px;
  padding-right: 0;
}
